In [ ]:
#pip install pandas

Requirement already satisfied: pandas in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
import pandas as pd

In [6]:
df= pd.read_csv("sample_data_155rows.csv")

In [7]:
df.head()

   id    name  age        city  salary
0   1    Rony   32  Chittagong   69052
1   2   Tania   23    Rajshahi   35526
2   3   Tania   36      Sylhet   31432
3   4    Rony   32     Gazipur   31009
4   5  Sabbir   34     Gazipur   67102

In [3]:
df=pd.read_csv("D:\dataset\sample_data_155rows.csv")

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\PC\AppData\Local\Temp\ipykernel_13280\3800147768.py:1: SyntaxWarning: invalid escape sequence '\d'
  df=pd.read_csv("D:\dataset\sample_data_155rows.csv")

In [ ]:
df.head()

   id    name  age        city  salary
0   1    Rony   32  Chittagong   69052
1   2   Tania   23    Rajshahi   35526
2   3   Tania   36      Sylhet   31432
3   4    Rony   32     Gazipur   31009
4   5  Sabbir   34     Gazipur   67102

In [3]:
pip install seaborn

Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.3.4)
Requirement already satisfied: pandas>=1.2 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.3.3)
Collecting matplotlib!=3.6.1,>=3.4 (from seaborn)
  Downloading matplotlib-3.10.7-cp313-cp313-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading contourpy-1.3.3-cp313-cp313-win_amd64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading fonttools-4.60.1-cp313-cp313-win_amd64.whl.metadata (114 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading kiwisolver-1.4.9-cp313-cp313-win_amd64.whl.metadata (6.4 kB)
Requirement already satisfied: packaging>=20.0 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (25.0)
Collecting pillow>=8 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading pillow-12.0.0-cp313-cp313-win_amd64.whl.metadata (9.0 kB)
Collecting pyparsing>=3 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Downloading pyparsing-3.2.5-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Downloading matplotlib-3.10.7-cp313-cp313-win_amd64.whl (8.1 MB)
   ---------------------------------------- 0.0/8.1 MB ? eta -:--:--
   - -------------------------------------- 0.3/8.1 MB ? eta -:--:--
   --- ------------------------------------ 0.8/8.1 MB 1.3 MB/s eta 0:00:06
   ----- ---------------------------------- 1.0/8.1 MB 1.4 MB/s eta 0:00:05
   ------ --------------------------------- 1.3/8.1 MB 1.5 MB/s eta 0:00:05
   ------- -------------------------------- 1.6/8.1 MB 1.5 MB/s eta 0:00:05
   --------- ------------------------------ 1.8/8.1 MB 1.5 MB/s eta 0:00:05
   ----------- ---------------------------- 2.4/8.1 MB 1.5 MB/s eta 0:00:04
   ------------ --------------------------- 2.6/8.1 MB 1.5 MB/s eta 0:00:04
   -------------- ------------------------- 2.9/8.1 MB 1.5 MB/s eta 0:00:04
   --------------- ------------------------ 3.1/8.1 MB 1.5 MB/s eta 0:00:04
   ------------------ --------------------- 3.7/8.1 MB 1.5 MB/s eta 0:00:04
   ------------------- -------------------- 3.9/8.1 MB 1.5 MB/s eta 0:00:03
   -------------------- ------------------- 4.2/8.1 MB 1.5 MB/s eta 0:00:03
   --------------------- ------------------ 4.5/8.1 MB 1.5 MB/s eta 0:00:03
   ----------------------- ---------------- 4.7/8.1 MB 1.5 MB/s eta 0:00:03
   ------------------------ --------------- 5.0/8.1 MB 1.5 MB/s eta 0:00:03
   --------------------------- ------------ 5.5/8.1 MB 1.5 MB/s eta 0:00:02
   ---------------------------- ----------- 5.8/8.1 MB 1.5 MB/s eta 0:00:02
   ----------------------------- ---------- 6.0/8.1 MB 1.5 MB/s eta 0:00:02
   ------------------------------ --------- 6.3/8.1 MB 1.5 MB/s eta 0:00:02
   -------------------------------- ------- 6.6/8.1 MB 1.5 MB/s eta 0:00:02
   ---------------------------------- ----- 7.1/8.1 MB 1.5 MB/s eta 0:00:01
   ------------------------------------ --- 7.3/8.1 MB 1.5 MB/s eta 0:00:01
   ------------------------------------- -- 7.6/8.1 MB 1.5 MB/s eta 0:00:01
   -------------------------------------- - 7.9/8.1 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------- 8.1/8.1 MB 1.4 MB/s  0:00:05
Downloading contourpy-1.3.3-cp313-cp313-win_amd64.whl (226 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.60.1-cp313-cp313-win_amd64.whl (2.3 MB)
   ---------------------------------------- 0.0/2.3 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.3 MB 2.4 MB/s eta 0:00:01
   ------------- -------------------------- 0.8/2.3 MB 1.8 MB/s eta 0:00:01
   ------------------ --------------------- 1.0/2.3 MB 1.7 MB/s eta 0:00:01
   ----------------------- ---------------- 1.3/2.3 MB 1.7 MB/s eta 0:00:01
   --------------------------- ------------ 1.6/2.3 MB 1.6 MB/s eta 0:00:01
   ------------------------------------- -- 2.1/2.3 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------- 2.3/2.3 MB 1.4 MB/s  0:00:01
Downloading kiwisolver-1.4.9-cp313-cp313-win_amd64.whl (73 kB)
Downloading pillow-12.0.0-cp313-cp313-win_amd64.whl (7.0 MB)
   ---------------------------------------- 0.0/7.0 MB ? eta -:--:--
   - -------------------------------------- 0.3/7.0 MB ? eta -:--:--
   ---- ----------------------------------- 0.8/7.0 MB 2.3 MB/s eta 0:00:03
   ------- -------------------------------- 1.3/7.0 MB 2.0 MB/s eta 0:00:03
   -------- ------------------------------- 1.6/7.0 MB 1.8 MB/s eta 0:00:03
   ---------- ----------------------------- 1.8/7.0 MB 1.8 MB/s eta 0:00:03
   ----------- ---------------------------- 2.1/7.0 MB 1.7 MB/s eta 0:00:03
   ------------- -------------------------- 2.4/7.0 MB 1.7 MB/s eta 0:00:03
   -------------- ------------------------- 2.6/7.0 MB 1.6 MB/s eta 0:00:03
   ----------------- ---------------------- 3.1/7.0 MB 1.6 MB/s eta 0:00:03
   ------------------- -------------------- 3.4/7.0 MB 1.6 MB/s eta 0:00:03
   -------------------- ------------------- 3.7/7.0 MB 1.5 MB/s eta 0:00:03
   ---------------------- ----------------- 3.9/7.0 MB 1.6 MB/s eta 0:00:02
   ------------------------- -------------- 4.5/7.0 MB 1.6 MB/s eta 0:00:02
   -------------------------- ------------- 4.7/7.0 MB 1.6 MB/s eta 0:00:02
   ---------------------------- ----------- 5.0/7.0 MB 1.5 MB/s eta 0:00:02
   ----------------------------- ---------- 5.2/7.0 MB 1.5 MB/s eta 0:00:02
   ------------------------------- -------- 5.5/7.0 MB 1.5 MB/s eta 0:00:01
   ---------------------------------- ----- 6.0/7.0 MB 1.5 MB/s eta 0:00:01
   ----------------------------------- ---- 6.3/7.0 MB 1.5 MB/s eta 0:00:01
   ------------------------------------- -- 6.6/7.0 MB 1.5 MB/s eta 0:00:01
   -------------------------------------- - 6.8/7.0 MB 1.5 MB/s eta 0:00:01
   -------------------------------------- - 6.8/7.0 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------- 7.0/7.0 MB 1.4 MB/s  0:00:04
Downloading pyparsing-3.2.5-py3-none-any.whl (113 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn

   ---------------------------------------- 0/8 [pyparsing]
   ----- ---------------------------------- 1/8 [pillow]
   ----- ---------------------------------- 1/8 [pillow]
   ----- ---------------------------------- 1/8 [pillow]
   ----- ---------------------------------- 1/8 [pillow]
   ----- ---------------------------------- 1/8 [pillow]
   ----- ---------------------------------- 1/8 [pillow]
   ---------- ----------------------------- 2/8 [kiwisolver]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   --------------- ------------------------ 3/8 [fonttools]
   ------------------------- -------------- 5/8 [contourpy]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ------------------------------ --------- 6/8 [matplotlib]
   ----------------------------------- ---- 7/8 [seaborn]
   ----------------------------------- ---- 7/8 [seaborn]
   ----------------------------------- ---- 7/8 [seaborn]
   ----------------------------------- ---- 7/8 [seaborn]
   ----------------------------------- ---- 7/8 [seaborn]
   ---------------------------------------- 8/8 [seaborn]

Successfully installed contourpy-1.3.3 cycler-0.12.1 fonttools-4.60.1 kiwisolver-1.4.9 matplotlib-3.10.7 pillow-12.0.0 pyparsing-3.2.5 seaborn-0.13.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

In [ ]:
data = sns.load_dataset("iris")

In [6]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [7]:
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [8]:
pip install requests

Requirement already satisfied: requests in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (2.32.5)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from requests) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from requests) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pc\appdata\local\programs\python\python313\lib\site-packages (from requests) (2025.10.5)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import requests
from io import StringIO

In [10]:
url="https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv"

In [14]:
data = requests.get(url)

#df1=pd.read_csv(df)

In [20]:
from io import StringIO
df = StringIO(data.text)
df1=pd.read_csv(df)

In [22]:
df1.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa